# **30917_홍영준_0327_4**

In [7]:
print('학생 그룹 점수의 합계와 평균을 구합니다.')
a = int(input('1번 학생의 점수를 입력하세요 : '))
b = int(input('2번 학생의 점수를 입력하세요 : '))
c = int(input('3번 학생의 점수를 입력하세요 : '))
d = int(input('4번 학생의 점수를 입력하세요 : '))
e = int(input('5번 학생의 점수를 입력하세요 : '))

total = 0

# total = a+b+c+d+e
total += a
total += b
total += c
total += d
total += e

print(f'합계는 {total}점 입니다.')
print(f'평균은 {total / 5} 입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요 : 90
2번 학생의 점수를 입력하세요 : 46
3번 학생의 점수를 입력하세요 : 92
4번 학생의 점수를 입력하세요 : 45
5번 학생의 점수를 입력하세요 : 74
합계는 347점 입니다.
평균은 69.4 입니다.

# 배열 : 묶음 단위로 값을 저장하는 자료구조

* 원소 : 배열에 저장된 각 객체
* 각 원소는 0,1,-------- 순서대로 인덱스()주소를 부여 받음
* 원소의 자료형은 int형 float형 어떤것도 상관 없음
* 서로 다른 자료형을 같이 저장할 수 있음
* 배열 원소 자체를 배열에 저장할 수 있음

In [11]:
# list 선언
list01 = [] # 빈 리스트
a = [1,2,3,4,5]
b = ["A","b","c"]

print(a)
print(b)

[1, 2, 3, 4, 5]
['A', 'b', 'c']

# 튜플



*   원소에 순서를 매겨 결합한 것으로 원소룰 변경헐 수 없는 자료형
*   ()만 사용하면 빈 튜플 생성

In [8]:
tuple01 = ()
tuple02 = 1,2,3
tuple03 = 'A','B','C'

print(tuple01)
print(tuple02)
print(tuple03)

()
(1, 2, 3)
('A', 'B', 'C')

In [10]:
a = tuple(range(3,13,2))
print(a)

(3, 5, 7, 9, 11)