# 데이터 프레임의 세계로!
## 데이터 프레임 만들기 - 시험 성적 데이터를 만들어보자!
### 데이터 입력해 데이터 프레임 만들기

In [37]:
# pandas 패키지를 로드하기
import pandas as pd

In [38]:
# data frame 만들기
# data frame 변수 = df

df = pd.DataFrame({'name':['김지훈','이유진','박동현','김민지'],
                  'english':[90,80,60,70],
                   'math':[50,60,100,20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [39]:
# 특정 변수의 값을 추출하기
# 영어 점수만 출력
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [40]:
# 수학 점수만 출력
df['math']

0     50
1     60
2    100
3     20
Name: math, dtype: int64

In [41]:
# 변수의 값으로 합계구하기
# sum
df['english'].sum()

300

In [49]:
# 수학 합계
print(df['math'].sum())
# 과목별 평균
print(df['english'].sum() / len(df_exam['english']))
print(df['math'].sum() / len(df_exam['math']))

230
15.0
11.5

## 외부 데이터 이용하기 - 축적된 시험 성적 데이터를 불러오자!
### 액셀 파일 불러오기
#### 1. 액셀 파일 살펴보기
#### 2. 워킹 디렉터리에 액셀 파일 삽입하기
#### 3. 액셀 파일 불러오기

In [43]:
# 외부파일 불러오는 메소드 read_excel('디렉토리/파일명')
df_exam = pd.read_excel('excel_exam.xlsx')
df_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [47]:
# 문제 : 영어 점수 합계를 구하시오.
# 문제 : 영어 점수 평균을 구하시오.
print('영어점수 합계', df_exam['english'].sum())
print('영어점수 평균', df_exam['english'].sum() / len(df_exam['english']))

영어점수 합계 1698
영어점수 평균 84.9

In [48]:
print('영어점수 합계', df_exam['english'].sum())
print('영어점수 평균', df_exam['english'].sum() / len(df_exam['english']))
print('수학점수 합계', df_exam['math'].sum())
print('수학점수 평균', df_exam['math'].sum() / len(df_exam['math']))
print('과학점수 합계', df_exam['science'].sum())
print('과학점수 평균', df_exam['science'].sum() / len(df_exam['science']))

영어점수 합계 1698
영어점수 평균 84.9
수학점수 합계 1149
수학점수 평균 57.45
과학점수 합계 1189
과학점수 평균 59.45