In [11]:
height = int(input('키는?')) / 100
weight = int(input('몸무게는?'))

bmi = weight / (height * height)
print('BMI = ', bmi)
# BMI에 따른 비만도 판단 조건식

if bmi < 18.5 :
    print('저체중')
elif bmi <= 23 :
    print('정상')
elif bmi <= 25 :
    print('과체중')
elif bmi <= 30 :
    print('비만')
else :
    print('고도비만')

키는?183
몸무게는?70
BMI =  20.902385858042937
정상

In [18]:
# Hello world! 3번 출력
print('hello world!\n' * 3)
for i in range(1,4):
    print(i,'hello world!')

hello world!
hello world!
hello world!

1 hello world!
2 hello world!
3 hello world!

In [24]:
# 1 ~ 10까지 숫자 중 홀수만 출력
for i in range(1,11):
    if i % 2 == 1:
        print(i,end=', ')

1, 3, 5, 7, 9,

In [33]:
# pow 제곱
for x in range(-5, 6, 1):
    y = pow(x, 2) # y = x ** 2
    print('x', x, 'y =', y)

x -5 y = 25
x -4 y = 16
x -3 y = 9
x -2 y = 4
x -1 y = 1
x 0 y = 0
x 1 y = 1
x 2 y = 4
x 3 y = 9
x 4 y = 16
x 5 y = 25

In [42]:
import random
scores = []
for i in range(200):
    scores.append(random.randint(1, 100))

cnt = 0
for score in scores :
    if score >= 90:
        cnt += 1

print(cnt)

24